:root{
    --clr-primary-white: #fff;
    --clr-dark-main: rgba(30, 30, 30, 1);
    --clr-nav-main: rgba(14, 67, 242, 1);
    --clr-nav-contents: rgba(12, 7, 150, 1);
    --clr-top-headre: rgba(59, 105, 255, 1);
    --clr-search-container: rgba(30, 30, 30, 1);
    --clr-home-container: rgba(12, 7, 150, 0.8);
    --clr-choose-us: rgba(59, 105, 255, 1);
    --clr-text-headers: rgba(235, 126, 0, 1);
  }

  .footerContainer{
    background: var(--clr-nav-contents);
    color: var(--clr-primary-white);
    margin: 80px 0 0 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 22px;
    font-size: 1rem;
  }
  .footerLinks{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    line-height: 2;
  }
  .imports{
    display: flex;
  }
  .imports hr{
    position: relative;
    left: 40px;
  }
  .link_ad2{
    margin: 0 50px;
  }

  @media screen and (min-width: 0) and (max-width: 820px) {
    .link_ad3{
        margin: 35px 0 0 0;
    }
  }