:root{
    --clr-primary-white: #fff;
    --clr-dark-main: rgba(30, 30, 30, 1);
    --clr-nav-main: rgba(14, 67, 242, 1);
    --clr-nav-contents: rgba(12, 7, 150, 1);
    --clr-top-headre: rgba(59, 105, 255, 1);
    --clr-search-container: rgba(30, 30, 30, 1);
    --clr-home-container: rgba(12, 7, 150, 0.8);
    --clr-choose-us: rgba(59, 105, 255, 1);
    --clr-text-headers: rgba(235, 126, 0, 1);
  }

  .landing{
        background: var(--clr-primary-white);
        padding: 10px 130px;
  }
  .services-container{
    padding: 0 30px;
    position: relative;
    top: -100px;
  }
  .director{
    margin: 30px 0 0 0;
    padding: 0 30px;

  }
  .lineHeader{
    margin: 20px 0;
    flex-wrap: wrap;
  }
  .services-container h2, .lineHeader h2{
    font-weight: 600;
    font-size: 2rem;
    margin: 10px;
  }
  .mainServices_Render{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 110px;
    row-gap: 70px;
  }
  .services_render{
    transition: transform 0.9s ease, background-color 0.9s ease;
  }
  .services_render:hover{
    transform: translateX(15px);
    transition: .7s;
    cursor: pointer;
  }
  .more_link{
    display: flex;
    justify-content: space-between;
  }
  #image_placeholder_large{
    width: 100%;
    border-bottom: 5px solid var(--clr-home-container);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  #image_placeholder_small{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    left: -55px;
    top: -20px;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .headerBanner{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }
  .menuClick{
    display: none;
  }
  .actionHeader {
    display: flex;
    background: var(--clr-top-headre);
    padding: 10px 0;
    border-radius: 5px;
  }
  .actionHeader div{
    margin: 0 15px;
    transition: transform 0.9s ease, background-color 0.9s ease;
    cursor: pointer;
  }
  .actionHeader div:hover{
    transform: scale(1.1);
    font-weight: bold;
    transition: .3s;

  }
  .actionHeader div img{
    margin: 0 10px;
  }
  .show_Animate{
    opacity: 1;
    filter: blur(0);
    transition: all 1s;
    transform: translateX(0);
  }
  .chooseUs{
    /* opacity: 0; */
    /* filter: blur(5px); */
    transition: all 1s;
    /* transform: translateX(-100%); */
  }
  #searchContent{
    background: var(--clr-dark-main);
    border: none;
    outline: none;
    padding: 8px 10px;
    width: 218px;
    /* height: 24px; */
    border-radius: 4px;
    color: var(--clr-primary-white);
  }
  ::placeholder{
    color: var(--clr-primary-white);
  }
  #searchIcon{
    position: relative;
    left: -35px;
  }
.mobileHeader{
  background: var(--clr-top-headre);
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  padding: 10px 20px;
  visibility: hidden;
}
/* Why Choose */
.bestInfo{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.bestClinic, .bestScientific, .bestConsult{
  background: var(--clr-choose-us);
  border-radius: 8px;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 35px 30px;
  color: var(--clr-primary-white);
  z-index: 100;
  position: relative;
  top: -150px;
  transition: transform 0.9s ease, background-color 0.9s ease;
}
.bestClinic:hover, .bestScientific:hover, .bestConsult:hover{
  transform: translateY(20%);
  cursor: pointer;
}
.imgDiv{
  text-align: center;
  margin: 0 0 30px 0;
}
/* Director's Cover */
#directorCover{
  border-left: 7px solid var(--clr-top-headre);
  border-radius: 50%;
  transition: transform 0.9s ease, background-color 0.9s ease;
  /* box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25); */

}
#directorCover:hover{
  cursor: pointer;
  transform: rotate(17deg);
}

.directors-profile{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#designCoverMain{
  position: relative;
  left: 30px;
  top: -210px;
}
  /* Media Querry for mobiles */
  @media screen and (min-width: 0) and (max-width: 820px) {
    .menuClick{
      display: block;
    }
    .headerBanner{
      display: none;
    }
    .headerInfo{
      display: block;
    }
    .mobileHeader{
      visibility: visible;
    }
    /* Why Choose */
    .bestClinic, .bestScientific, .bestConsult{
      margin: 15px 0;
      text-align: center;
      z-index: 1;
      top: -10px;
    }
    /* Services */
    .services-container{
      top: 15px;
    }
    .mainServices_Render{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      /* margin-left: 25px; */
    }
    .services_render{
      margin: 1px 0;
      position: relative;
    }
    #image_placeholder_large{
      width: 100%;
    }
    #image_placeholder_small{
      width: 50px;
    }
    /* Director */
    .director{
      margin: 70px 0 0 0;
      /* overflow-x: hidden; */
    }
    #designCoverMain{
      position: relative;
      left: 10%;
      top: 10%;
      display: none;
    }
    #designCover{
      position: relative;
      left: 50%;
      top: -10%;
      display: none;
    }
   
  }

  /* For Bigger screen */
@media screen and (width: 1024px) {
  .mainServices_Render{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 70px;
  }
}
